# PostgreSQL configuration
POSTGRES_USER=metabase
POSTGRES_DB=zeseat_metabase
POSTGRES_PASSWORD=secret_password
POSTGRES_HOST=postgres

# Metabase configuration
METABASE_PORT=3000
METABASE_DATA_DIR=/var/lib/metabase
POSTGRES_DATA_DIR=/var/lib/postgres_data